# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
.env/
.venv/

# Ignore IDE directories
.vscode/
.idea/

# Ignore Logs and data
*.log
*.out
*.err
*.npy
*.npz
*.pkl
*.h5
*.hdf5
*.csv
*.tsv
*.png
*.jpg